import Leslie{{properCase name}} from '../src/{{name}}.vue'

export default{
title: 'Leslie{{properCase name}}',
component: Leslie{{properCase name}}
}

export const {{ properCase name}} = _ => ({
components: { Leslie{{properCase name}} },
template: `
<div>
  <leslie-{{name}}></leslie-{{name}}>
</div>
`
})